In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_American_films_of_2018"

In [3]:
df1 = pd.read_html(url,header=0)[2]

In [4]:
df1.head()

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,JANUARY,5,Insidious: The Last Key,Universal Pictures / Blumhouse Productions / S...,Adam Robitel (director); Leigh Whannell (scree...,[2]
1,JANUARY,5,The Strange Ones,Vertical Entertainment,Lauren Wolkstein (director); Christopher Radcl...,[3]
2,JANUARY,5,Stratton,Momentum Pictures,"Simon West (director); Duncan Falconer, Warren...",[4]
3,JANUARY,10,Sweet Country,Samuel Goldwyn Films,"Warwick Thornton (director); David Tranter, St...",[5]
4,JANUARY,12,The Commuter,Lionsgate / StudioCanal / The Picture Company,Jaume Collet-Serra (director); Byron Willinger...,[6]

In [5]:
df2 = pd.read_html(url)[3]

In [6]:
df2.head()

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,APRIL,6,A Quiet Place,Paramount Pictures / Platinum Dunes / Sunday N...,John Krasinski (director/screenplay); Scott Be...,[76]
1,APRIL,6,Blockers,Universal Pictures / Good Universe / Point Gre...,"Kay Cannon (director); Eben Russell, Jon Hurwi...",[77]
2,APRIL,6,You Were Never Really Here,Amazon Studios,Lynne Ramsay (director/screenplay); Joaquin Ph...,[78]
3,APRIL,6,Chappaquiddick,Entertainment Studios,"John Curran (director); Taylor Allen, Andrew L...",[79]
4,APRIL,6,Pandas,Warner Bros. Pictures / IMAX,"Drew Fellman, David Douglas (directors); Drew ...",[80]

In [7]:
df3 = pd.read_html(url,header =0)[4]
df3.head()

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,JULY,4,The First Purge,Universal Pictures / Blumhouse Productions / P...,Gerard McMurray (director); James DeMonaco (sc...,[135]
1,JULY,6,Ant-Man and the Wasp,Marvel Studios,"Peyton Reed (director); Chris McKenna, Erik So...",[136]
2,JULY,6,Sorry to Bother You,Annapurna Pictures,Boots Riley (director/screenplay); Lakeith Sta...,[137]
3,JULY,6,Whitney,Roadside Attractions / Miramax,Kevin MacDonald (director/screenplay); Whitney...,[138]
4,JULY,13,Hotel Transylvania 3: Summer Vacation,Columbia Pictures / Sony Pictures Animation / MRC,Genndy Tartakovsky (director/screenplay); Mich...,[139]

In [8]:
df4 = pd.read_html(url,header=0)[5]
df4.head()

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
0,OCTOBER,2,Power of the Air,Five & Two Pictures,Dave Christiano (director/screenplay); Nichola...,[201]
1,OCTOBER,5,Venom,Columbia Pictures / Marvel Entertainment,"Ruben Fleischer (director); Jeff Pinkner, Scot...",[202]
2,OCTOBER,5,A Star Is Born,Warner Bros. Pictures,Bradley Cooper (director/screenplay); Eric Rot...,[203]
3,OCTOBER,5,The Hate U Give,20th Century Fox / Fox 2000 Pictures,George Tillman Jr. (director); Audrey Wells (s...,[204]
4,OCTOBER,10,The Happy Prince,Sony Pictures Classics,Rupert Everett (director/screenplay); Rupert E...,[205]

In [9]:
df = df1.append(df2,ignore_index=True)
df = df.append(df3,ignore_index=True)
df = df.append(df4,ignore_index=True)
df.shape

(269, 6)

In [10]:
df.tail()

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.
264,DECEMBER,25,Holmes & Watson,Columbia Pictures / Gary Sanchez Productions,Etan Cohen (director/screenplay); Will Ferrell...,[163]
265,DECEMBER,25,Vice,Annapurna Pictures / Plan B Entertainment,Adam McKay (director/screenplay); Christian Ba...,[137]
266,DECEMBER,25,On the Basis of Sex,Focus Features,Mimi Leder (director); Daniel Stiepleman (scre...,[226]
267,DECEMBER,25,Destroyer,Annapurna Pictures,"Karyn Kusama (director); Phil Hay, Matt Manfre...",[258]
268,DECEMBER,28,Black Mirror: Bandersnatch,Netflix,David Slade (director); Charlie Brooker (scree...,[259]

In [11]:
df.columns

Index(['Opening', 'Opening.1', 'Title', 'Production company', 'Cast and crew',
       'Ref.'],
      dtype='object')

In [12]:
df.isnull().sum()

Opening               0
Opening.1             0
Title                 0
Production company    0
Cast and crew         0
Ref.                  0
dtype: int64

In [13]:
df.drop(columns =['Opening','Opening.1','Production company','Ref.'],axis=1,inplace=True)

In [14]:
df.head()

                     Title                                      Cast and crew
0  Insidious: The Last Key  Adam Robitel (director); Leigh Whannell (scree...
1         The Strange Ones  Lauren Wolkstein (director); Christopher Radcl...
2                 Stratton  Simon West (director); Duncan Falconer, Warren...
3            Sweet Country  Warwick Thornton (director); David Tranter, St...
4             The Commuter  Jaume Collet-Serra (director); Byron Willinger...

In [15]:
#Getting above movie actors for the official website of the tmdb website with the help of api key..

In [16]:
from tmdbv3api import TMDb
from tmdbv3api import Movie
import json
import requests

In [19]:
tmdb = TMDb()
tmdb_movie = Movie()
tmdb.api_key = 'ab7a39b6df827fa3bf2b45350a62f843' #This is my api key given by the website

In [25]:
def get_genre(x):
    genres =[]
    result = tmdb_movie.search(x)
    movie_id = result[0].id
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
    data_json = response.json()
    if data_json['genres']:
        genre_str = " " 
        for i in range(0,len(data_json['genres'])):
            genres.append(data_json['genres'][i]['name'])
        return genre_str.join(genres)
    else:
        np.NaN

In [26]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))

In [27]:
df.head()

,Title,Cast and crew,genres
0,Insidious: The Last Key,Adam Robitel (director); Leigh Whannell (scree...,Horror Mystery Thriller
1,The Strange Ones,Lauren Wolkstein (director); Christopher Radcl...,Thriller Drama
2,Stratton,"Simon West (director); Duncan Falconer, Warren...",Action Thriller
3,Sweet Country,"Warwick Thornton (director); David Tranter, St...",Drama History Western
4,The Commuter,Jaume Collet-Serra (director); Byron Willinger...,Action Thriller