In [1]:
import pandas as pd
import numpy as np
import json
from bs4 import BeautifulSoup
import requests

In [2]:
url = "https://www.cricbuzz.com/cricket-team/india/2/players"

In [3]:
html_content = requests.get(url).text

In [4]:
soup = BeautifulSoup(html_content,'lxml')

In [5]:
players_div= soup.find('div',class_='cb-col-67 cb-col cb-left cb-top-zero')
squad_role = players_div.find_all('h3',class_='cb-sqd-rol')
squad_role = [x.text for x in squad_role]
squad_role

['BATSMEN', 'ALL ROUNDER', 'WICKET KEEPER', 'BOWLER']

In [6]:
Players = pd.DataFrame(columns =['Name','Stats_Link'])

In [7]:
players = players_div.find_all('a',class_='cb-col cb-col-50')

In [8]:
soup_parser = BeautifulSoup(html_content,'html.parser')
players_div= soup_parser.find('div',class_='cb-col-67 cb-col cb-left cb-top-zero')
players_tags = players_div.find_all('a',class_='cb-col cb-col-50')

In [9]:
for i in range(len(players)):
    Players = Players.append({'Name':players[i].text,
                              'Stats_Link':players_tags[i]['href']},
                              ignore_index=True)

In [10]:
Players

                          Name                          Stats_Link
0                Virat Kohli            /profiles/1413/virat-kohli
1               Rohit Sharma            /profiles/576/rohit-sharma
2             Shikhar Dhawan         /profiles/1446/shikhar-dhawan
3               Shubman Gill          /profiles/11808/shubman-gill
4               Shreyas Iyer           /profiles/9428/shreyas-iyer
5              Manish Pandey          /profiles/1836/manish-pandey
6             Mayank Agarwal         /profiles/2195/mayank-agarwal
7               Prithvi Shaw          /profiles/12094/prithvi-shaw
8          Cheteshwar Pujara      /profiles/1448/cheteshwar-pujara
9             Ajinkya Rahane         /profiles/1447/ajinkya-rahane
10             Hardik Pandya          /profiles/9647/hardik-pandya
11             Hanuma Vihari          /profiles/8424/hanuma-vihari
12           Ravindra Jadeja         /profiles/587/ravindra-jadeja
13       Ravichandran Ashwin    /profiles/1593/ravichandran-ashwin
14                  KL Rahul               /profiles/8733/kl-rahul
15              Sanju Samson           /profiles/8271/sanju-samson
16           Wriddhiman Saha        /profiles/1465/wriddhiman-saha
17              Rishabh Pant          /profiles/10744/rishabh-pant
18            Mohammed Shami         /profiles/7909/mohammed-shami
19            Jasprit Bumrah         /profiles/9311/jasprit-bumrah
20             Kuldeep Yadav          /profiles/8292/kuldeep-yadav
21          Yuzvendra Chahal       /profiles/7910/yuzvendra-chahal
22             Navdeep Saini          /profiles/9715/navdeep-saini
23            Shardul Thakur         /profiles/8683/shardul-thakur
24               Umesh Yadav            /profiles/1858/umesh-yadav
25            Mohammed Siraj        /profiles/10808/mohammed-siraj

In [11]:
Players_Personal_Info = pd.DataFrame(columns =['Name','Country','Born','Birth Place','Height','Role','Batting Style','Bowling Style','Career Info'])

In [12]:
Players_Personal_Info

Empty DataFrame
Columns: [Name, Country, Born, Birth Place, Height, Role, Batting Style, Bowling Style, Career Info]
Index: []

In [13]:
main_link = 'https://www.cricbuzz.com'

In [14]:
def Get_Personal_Info(link):
    url = main_link + link
    html_content = requests.get(url).text
    soup = BeautifulSoup(html_content,'lxml')
    
    data = soup.find_all('div',class_='cb-hm-rght')
    info = data[0].find_all('div',class_='cb-col cb-col-60 cb-lst-itm-sm')
    
    player = soup.find('div',class_='cb-col cb-col-80 cb-player-name-wrap')
    height = data[0].find('div',class_='cb-col cb-col-60').text
    arr =[]
    arr.append(player.h1.text)
    arr.append(player.h3.text)
    arr.append(info[0].text)
    arr.append(info[1].text)
    arr.append(height)
    arr.append(info[2].text)
    arr.append(info[3].text)
    if(len(info) == 6):
        arr.append(info[4].text)
        arr.append(info[5].text)
    else:
        arr.append("---")
        arr.append(info[4].text)
     
    return arr

In [15]:
for link in Players['Stats_Link']:
    info =Get_Personal_Info(link)
     
    Players_Personal_Info = Players_Personal_Info.append({'Name':info[0],
                                                          'Country':info[1],
                                                          'Born':info[2],
                                                          'Birth Place':info[3],
                                                          'Height':info[4],
                                                          'Role':info[5],
                                                          'Batting Style': info[6],
                                                          'Bowling Style':info[7],
                                                          'Career Info': info[8]},
                                                           ignore_index=True)

In [16]:
Players_Personal_Info

,Name,Country,Born,Birth Place,Height,Role,Batting Style,Bowling Style,Career Info
0,Virat Kohli,India,"Nov 05, 1988 (32 years)",Delhi,5 ft 9 in (175 cm),Batsman,Right Handed Bat,Right-arm medium,"India, Delhi, India Red, India U19, Royal Cha..."
1,Rohit Sharma,India,"Apr 30, 1987 (34 years)","Nagpur, Maharashtra",--,Batsman,Right Handed Bat,Right-arm offbreak,"India, Deccan Chargers, India A, India Green,..."
2,Shikhar Dhawan,India,"Dec 05, 1985 (35 years)",Delhi,--,Batsman,Left Handed Bat,Right-arm offbreak,"Board Presidents XI, Mumbai Indians, India, D..."
3,Shubman Gill,India,"Sep 08, 1999 (21 years)","Firozpur, Punjab",--,Batsman,Right Handed Bat,Right-arm offbreak,"Punjab, India U19, India U23, India A, Kolkat..."
4,Shreyas Iyer,India,"Dec 06, 1994 (26 years)",Mumbai,--,Batsman,Right Handed Bat,Right-arm legbreak,"India, India U19, West Zone, Mumbai, Delhi Ca..."
5,Manish Pandey,India,"Sep 10, 1989 (31 years)","Nainital, Uttaranchal",--,Batsman,Right Handed Bat,Right-arm medium,"Karnataka, Board Presidents XI, Royal Challen..."
6,Mayank Agarwal,India,"Feb 16, 1991 (30 years)","Bangalore, Karnataka",--,Batsman,Right Handed Bat,---,"Davangere Diamonds, Royal Challengers Bangalo..."
7,Prithvi Shaw,India,"Nov 09, 1999 (21 years)","Thane, Maharashtra",--,Batsman,Right Handed Bat,Right-arm offbreak,"India U19, Mumbai, India U23, India Red, Indi..."
8,Cheteshwar Pujara,India,"Jan 25, 1988 (33 years)","Rajkot, Gujarat",--,Batsman,Right Handed Bat,Right-arm legbreak,"Board Presidents XI, Kolkata Knight Riders, I..."
9,Ajinkya Rahane,India,"Jun 06, 1988 (33 years)","Ashwi-KD, Maharashtra",--,Batsman,Right Handed Bat,Right-arm medium,"Mumbai, Board Presidents XI, Rajasthan Royals..."
10,Hardik Pandya,India,"Oct 11, 1993 (27 years)","Choryasi, Gujarat",--,Batting Allrounder,Right Handed Bat,Right-arm fast-medium,"India, Baroda, Mumbai Indians, India A, India..."
11,Hanuma Vihari,India,"Oct 13, 1993 (27 years)","Kakinada, Andhra Pradesh",--,Batting Allrounder,Right Handed Bat,Right-arm offbreak,"India U19, Hyderabad, East Zone, South Zone, ..."
12,Ravindra Jadeja,India,"Dec 06, 1988 (32 years)","Navagam-Khed, Saurashtra",--,Bowling Allrounder,Left Handed Bat,Left-arm orthodox,"India, India U19, Rajasthan Royals, Saurashtr..."
13,Ravichandran Ashwin,India,"Sep 17, 1986 (34 years)","Chennai, Tamil Nadu",--,Bowling Allrounder,Right Handed Bat,Right-arm offbreak,"India, Board Presidents XI, Chennai Super Kin..."
14,KL Rahul,India,"Apr 18, 1992 (29 years)","Mangaluru, Karnataka",--,WK-Batsman,Right Handed Bat,---,"India, Karnataka, East Zone, South Zone, Roya..."
15,Sanju Samson,India,"Nov 11, 1994 (26 years)","Pulluvila, Vizhinjam, Trivandrum",--,WK-Batsman,Right Handed Bat,---,"India, Kolkata Knight Riders, India U19, Kera..."
16,Wriddhiman Saha,India,"Oct 24, 1984 (36 years)",Shaktigarh,--,WK-Batsman,Right Handed Bat,---,"Board Presidents XI, Kolkata Knight Riders, I..."
17,Rishabh Pant,India,"Oct 04, 1997 (23 years)","Haridwar, Uttarakhand",--,WK-Batsman,Left Handed Bat,---,"Delhi, India U19, Delhi Capitals, India, Indi..."
18,Mohammed Shami,India,"Sep 03, 1990 (30 years)","Jonagar, Bengal",--,Bowler,Right Handed Bat,Right-arm fast-medium,"Kolkata Knight Riders, India A, Bengal, India..."
19,Jasprit Bumrah,India,"Dec 06, 1993 (27 years)",Ahmedabad,--,Bowler,Right Handed Bat,Right-arm fast,"India, Mumbai Indians, Gujarat, West Zone, In..."
20,Kuldeep Yadav,India,"Dec 14, 1994 (26 years)","Kanpur, Uttar Pradesh",--,Bowler,Left Handed Bat,Left-arm chinaman,"India, India U19, Kolkata Knight Riders, Cent..."
21,Yuzvendra Chahal,India,"Jul 23, 1990 (30 years)","Jind, Haryana",--,Bowler,Right Handed Bat,Right-arm legbreak,"Mumbai Indians, Haryana, Royal Challengers Ba..."
22,Navdeep Saini,India,"Nov 23, 1992 (28 years)","Karnal, Haryana",--,Bowler,Right Handed Bat,Right-arm fast,"Delhi, India A, Delhi Capitals, India Green, ..."
23,Shardul Thakur,India,"Oct 16, 1991 (29 years)","Palghar, Maharashtra",--,Bowler,Right Handed Bat,Right-arm fast-medium,"India, Tata Sports Club, Mumbai A, Mumbai, Pu..."
24,Umesh Yadav,India,"Oct 25, 1987 (33 years)","Nagpur, Maharashtra",--,Bowler,Right Handed Bat,Right-arm fast,"Board Presidents XI, Delhi Capitals, India, R..."
25,Mohammed Siraj,India,"Mar 13, 1994 (27 years)",Hyderabad,--,Bowler,Right Handed Bat,Right-arm fast-medium,"Hyderabad, Rest of India, India A, Sunrisers ..."

In [17]:
bat_cols = ['Name','Format','M','In','NO','Runs','HS','Avg','BF','SR','100','200','50','4s','6s']
bowl_cols = ['Name','Format','M','In','B','Runs','Wkts','BBI','BBM','Econ','Avg','SR','5WH','10WH']
Team_Batting_Stats = pd.DataFrame(columns =bat_cols)
Team_Bowling_Stats = pd.DataFrame(columns =bowl_cols)

In [18]:
Team_Batting_Stats

Empty DataFrame
Columns: [Name, Format, M, In, NO, Runs, HS, Avg, BF, SR, 100, 200, 50, 4s, 6s]
Index: []

In [19]:
Team_Bowling_Stats

Empty DataFrame
Columns: [Name, Format, M, In, B, Runs, Wkts, BBI, BBM, Econ, Avg, SR, 5WH, 10WH]
Index: []

In [20]:
count =0
count1=0
for link in Players['Stats_Link']:
    url = main_link + link
    html_content = requests.get(url).text
    soup = BeautifulSoup(html_content,'lxml')
    
    player = soup.find('div',class_='cb-col cb-col-80 cb-player-name-wrap')
    name = player.h1.text
    name =[name]
    
    data = soup.find_all('div',class_='cb-hm-rght')
    tables = data[1].find_all('table',class_='table cb-col-100 cb-plyr-thead')
    
    #Batting Stats
    
    table_rows = tables[0].find_all('tr')
    for i in range(1,len(table_rows)):
        row = table_rows[i].find_all('td')
        row_values = [x.text for x in row]
        row_values = name + row_values
        Team_Batting_Stats.loc[count] = row_values
        count+=1
        
        
       
        
        
    #Bowling Stats
    table_rows1 = tables[1].find_all('tr')
    for i in range(1,len(table_rows1)):
        row1 = table_rows1[i].find_all('td')
        row_values1 = [x.text for x in row1]
        row_values1 = name + row_values1
        Team_Bowling_Stats.loc[count1] = row_values1
        count1+=1

In [21]:
Team_Batting_Stats

,Name,Format,M,In,NO,Runs,HS,Avg,BF,SR,100,200,50,4s,6s
0,Virat Kohli,Test,92,155,10,7547,254,52.05,13273,56.86,27,7,25,840,22
1,Virat Kohli,ODI,254,245,39,12169,183,59.07,13061,93.17,43,0,62,1140,126
2,Virat Kohli,T20I,89,84,24,3159,94,52.65,2272,139.04,0,0,28,285,90
3,Virat Kohli,IPL,199,191,31,6076,113,37.98,4659,130.41,5,0,40,524,205
4,Rohit Sharma,Test,39,66,8,2679,212,46.19,4627,57.9,7,1,12,282,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,Umesh Yadav,IPL,121,38,24,122,24,8.71,128,95.31,0,0,0,11,4
88,Mohammed Siraj,Test,5,6,2,39,16,9.75,48,81.25,0,0,0,4,2
89,Mohammed Siraj,ODI,1,-,-,-,-,-,-,-,-,-,-,-,-
90,Mohammed Siraj,T20I,3,-,-,-,-,-,-,-,-,-,-,-,-
91,Mohammed Siraj,IPL,42,14,10,58,14,14.5,66,87.88,0,0,0,4,2

In [22]:
Team_Bowling_Stats

,Name,Format,M,In,B,Runs,Wkts,BBI,BBM,Econ,Avg,SR,5WH,10WH
0,Virat Kohli,Test,92,11,175,84,0,0/0,0/0,2.88,0.0,0.0,0,0
1,Virat Kohli,ODI,254,48,641,665,4,1/15,1/15,6.22,166.25,160.25,0,0
2,Virat Kohli,T20I,89,12,146,198,4,1/13,1/13,8.14,49.5,36.5,0,0
3,Virat Kohli,IPL,199,26,251,368,4,2/25,2/25,8.8,92.0,62.75,0,0
4,Rohit Sharma,Test,39,16,383,224,2,1/26,1/35,3.51,112.0,191.5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,Umesh Yadav,IPL,121,120,2522,3579,119,4/24,4/24,8.51,30.08,21.19,0,0
88,Mohammed Siraj,Test,5,10,962,452,16,5/73,6/150,2.82,28.25,60.12,1,0
89,Mohammed Siraj,ODI,1,1,60,76,0,0/76,0/76,7.6,0.0,0.0,0,0
90,Mohammed Siraj,T20I,3,3,72,148,3,1/45,1/45,12.33,49.33,24.0,0,0
91,Mohammed Siraj,IPL,42,42,872,1275,45,4/32,4/32,8.77,28.33,19.38,0,0

In [23]:
Team_Bowling_Stats.shape

(92, 14)

In [24]:
Team_Bowling_Stats['Name'].value_counts()

Umesh Yadav            4
Ajinkya Rahane         4
Jasprit Bumrah         4
Kuldeep Yadav          4
Ravindra Jadeja        4
Hardik Pandya          4
KL Rahul               4
Ravichandran Ashwin    4
Rohit Sharma           4
Navdeep Saini          4
Shikhar Dhawan         4
Virat Kohli            4
Mohammed Shami         4
Mohammed Siraj         4
Rishabh Pant           4
Shardul Thakur         4
Prithvi Shaw           3
Yuzvendra Chahal       3
Wriddhiman Saha        3
Shreyas Iyer           3
Mayank Agarwal         3
Manish Pandey          3
Shubman Gill           3
Cheteshwar Pujara      3
Hanuma Vihari          2
Sanju Samson           2
Name: Name, dtype: int64

In [25]:
Players_Personal_Info.to_csv("Team_Personal_Info.csv",index=False)

In [26]:
Team_Batting_Stats.to_csv('Team_Batting_Stats.csv',index=False)
Team_Bowling_Stats.to_csv('Team_Bowling_Stats.csv',index=False)